body{
	background: url("images/backgrounds/background.jpg");
	background-size: cover;
	padding-top: 70px;
	text-align: center;
}

h4{
	color: rgb(0,255,255);
}

h1,h2,h5,p{
	color: white;
}

#Bio{
	text-align: center;
}

#end{
	border: solid;
	border-color: white;
	width: 15%;
	margin: 0 auto;
}

.bold{
	font-weight: bold;
}

.tilt{
	font-style: italic;
}

.green{
	color: green;
}

/* I took this out because the menu is hard to read in mobile mode.
 I will renable it when I figure out a fix.

.navbar-fixed-top {
   background-color: rgba(245, 245, 245, 0.6);
}
*/
.footer{
		position: static;
		width: 100%;
}

@media screen and (min-width:701px){
	img {
	    max-width: 20%;
			height: auto;
	}
}


@media screen and (max-width: 700px) and (min-width:0px){
	img {
			max-width: 40%;
			height: auto;
	}
}
